
.pos-f-t {
    background-color: #9921E8;
    background-image: linear-gradient(120deg, #5F72BE, #7716c7); 
}

.pos-f-t h3 a {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: normal !important;
}

#navbarToggleExternalContent span a{
    color: white;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal !important;

}

.normal {
    font-weight: normal !important;
}

.page-container p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: black;
    /* letter-spacing: 1px; */
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.btn-black {
    background-color: #5F72BE !important;
    color: #FFFFFF !important;
}

.bg-black {
    background-color: #000000 !important;
}

.card-title {
    color: #B621FE !important; 
    text-align: center !important; 
    font-weight: bold !important;
}

.bq-fill {
    color: #FFFFFF !important;
    background-color: #5F72BE !important;
    border-left: 30px solid #6a7fd4 !important;
    margin: 20px !important;
    padding: 2rem 10px !important;
}

table.table-bordered > thead > tr > td {
    border: 1px solid #5F72BE !important;
    border-bottom: 2px solid #7716c7 !important;
}
table.table-bordered > thead > tr > th {
    border: 1px solid #5F72BE !important;
    border-bottom: 2px solid #7716c7 !important;
}
table.table-bordered > tbody > tr > td {
    border: 1px solid #5F72BE !important;
}
table.table-bordered > tbody > tr > th {
    border: 1px solid #5F72BE !important;
}
table.table-bordered > tfoot > tr > td {
    border: 1px solid #5F72BE !important;
}
table.table-bordered > tfoot > tr > th {
    border: 1px solid #5F72BE !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f2eef9 !important;
}

ul {
  list-style: none; /* no default bullets */
  position: relative;
  padding: 0;
  margin: 0;
}
ul li { 
  font-size: 1rem;
  padding-left: 1.5em; 
}
ul li:before { /* the custom styled bullets */
  position: absolute;
  background-color: #5F72BE;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: 8px;
  line-height: 16px;
  vertical-align: middle;
  height: 10px;
  width: 10px;
  left: 0;
}
