
.pos-f-t {
    background-color: #F8CEEC;
    background-image: linear-gradient(120deg, #A88BEB, #F8CEEC); 
}

.pos-f-t h3 a {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

#navbarToggleExternalContent span a{
    color: white;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.page-container p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: black;
    /* letter-spacing: 1px; */
}
