
.pos-f-t {
    background-color: #9921E8;
    background-image: linear-gradient(120deg, #5F72BE, #9921E8); 
}

.pos-f-t h3 a {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

#navbarToggleExternalContent span a{
    color: white;
    font-family: "Roboto","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;

}

.page-container p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: black;
    /* letter-spacing: 1px; */
}

.btn-black {
    background-color: #5F72BE !important;
    color: #FFFFFF !important;
}
